
@import "compass";

@font-face {
    font-family: 'polyregular';
    src: url('fonts/poly-regular-webfont.eot');
    src: url('fonts/poly-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/poly-regular-webfont.woff2') format('woff2'),
         url('fonts/poly-regular-webfont.woff') format('woff'),
         url('fonts/poly-regular-webfont.ttf') format('truetype'),
         url('fonts/poly-regular-webfont.svg#polyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@import url(http://fonts.googleapis.com/css?family=Oswald|Lato:700);


$backgroundBorder: 16px;
$nav-height: 8vh;
$body-width: calc(100% - #{$backgroundBorder*2});

body {
    
    position: relative;
    z-index: -2;
    margin: 0;
    font-family: "polyregular";
    background: #5f657a;
    
}

#nav-wrap {
    
    position: fixed;
    height: $nav-height*2;
    width: $body-width;
    margin: 0 $backgroundBorder $backgroundBorder;
    
    overflow: hidden;
    
}

nav {
    
    @include display-flex;
    @include justify-content(space-around);
    
    opacity: 1;
    
    position: fixed;
    z-index: 5;
    width: $body-width;
    height: $nav-height;

    background: #444;
    color: lightgray;
    @include box-shadow(black 0 0px 25px 0);

    @include transition(1s);
    @include transform(translateY(0), translate3d(0,0,0));
    @include transition-timing-function(ease-in-out);

    #nav-image {
        
        background-image: url("../images/OLNC-logo.gif");
        background-repeat: no-repeat;
        background-size: contain;
        width: 25vw;
        margin: 1vh 0;
        font-size: 30px;

    }

    a {
        
        margin: $nav-height/4 0;
        color: gray;
        text-decoration: none;
        @include transition(1s);
        
        &.active {
            color: white;
        }
        
        &:hover {
            color: white;
        }
        
    }

    &.hidden {
        
        opacity: 0;
        @include transform(translateY(-$nav-height));
        
    }

} 

.background {

    position: relative;
    z-index: -2;
    
    background: #fefcf7;
    margin: 0 $backgroundBorder 0;
    @include box-shadow(black 0 0 25px 5px);
    
    &:first-of-type {
        -webkit-margin-top: 0;
    }
   
}

#home-section {
    margin-top: 0;
}
  
header {
    
    margin: 0 0 0 $backgroundBorder*.8;
    padding: 5vh 0 4vh;
    width: $body-width;
    height: 25vh;
    img {
        
        display: block;
        width: 100%;
        
    }

}

section {
    
    position: relative;
    z-index: -2;
    
    margin: 5vh auto auto;
    width: $body-width;
    padding: 0 0 5vh;
    text-align: justify;
    font-size: 19px;
    line-height: 180%;
    p {margin: 0 0;}
    

}

.divider {
    
    width: 160px;
    margin: 5vh auto 4vh;
    
} 

#header {
    
    font-family: 'Lato', sans-serif, 'polyregular';
    font-size: 24px;
    padding-top: 3vh;
    text-align: center;
    
}

.serv-text {
    
    text-align: left;
    
    p {
        
        margin-bottom: 2vh;
        padding-top: 2vh;
    }
    
    hr {
        
        position: relative;
        opacity: .5;
        border: 0;
        height: 1px;
        z-index: -1;
        @include background-image(linear-gradient(to right, #DDD, #333, #DDD));
        
    }
    
}
    