/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../sass/screen.scss */
body {
  margin: 0;
  font-family: "Martel Sans", "Lucida Sans";
  border: 3vw solid #576182;
  -moz-box-shadow: black 0 0 4vw 1vw inset;
  -webkit-box-shadow: black 0 0 4vw 1vw inset;
  box-shadow: black 0 0 4vw 1vw inset;
}

/* line 19, ../sass/screen.scss */
header {
  margin: 10vh 0 7vh 0;
  width: 90vw;
  height: 40vw;
}

/* line 27, ../sass/screen.scss */
header img {
  display: block;
  position: relative;
  width: 100%;
}

/* line 35, ../sass/screen.scss */
.divider {
  height: 3vh;
  width: 170px;
  margin: 7vh auto 7vh auto;
}

/* line 43, ../sass/screen.scss */
main {
  margin-left: 7vw;
  width: 80vw;
  text-align: justify;
  font-size: 16px;
  line-height: 180%;
}
