/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../sass/screen.scss */
body {
  margin: 0;
  font-family: "Martel Sans", "Lucida Sans";
  border: 10px solid #576182;
  background: #f3ead7;
}

/* line 17, ../sass/screen.scss */
header {
  background: #f3ead7;
  margin: 10vh 0 10vh 0;
  width: 90vw;
  height: 40vw;
}

/* line 26, ../sass/screen.scss */
header img {
  display: block;
  position: relative;
  width: 100%;
}

/* line 34, ../sass/screen.scss */
main {
  margin-left: 5vw;
  width: 84vw;
  text-align: justify;
  font-size: 16px;
  line-height: 180%;
}
